<section class="login-section">
  <div class="overlay"></div>

  <div class="login-form">
    <div class="login-logo">
      <img src="assets/login.png" alt="Logo de inicio de sesión" />
    </div>

    <h2>Iniciar Sesión</h2>

    <form (ngSubmit)="onLogin()">
      <div class="mb-3">
        <input
          type="text"
          id="usuario"
          [(ngModel)]="usuario"
          name="usuario"
          class="form-control"
          placeholder="Usuario"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
          placeholder="Contraseña"
          required
        />
      </div>

      <button type="submit" class="btn-login">Ingresar</button>
    </form>

    <!-- Botón Volver al Inicio -->
    <a routerLink="/Inicio" class="btn-volver">← Volver al Inicio</a>

    <div *ngIf="error" class="alert alert-danger mt-3">
      {{ error }}
    </div>
  </div>
</section>
