<app-navbar></app-navbar>

<div class="container-fluid p-0">
  <img src="https://scontent.ftru2-2.fna.fbcdn.net/v/t39.30808-6/473226572_122184647762140585_2837334791485251580_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFwZDCPGa_sSNSwzKP9Z6STnI-zpC8xOPecj7OkLzE49zAydV8IiG9yiiwX1g008YorHejyKvYixc4r19jTHq0Y&_nc_ohc=s8epI48np3AQ7kNvwEwgiuA&_nc_oc=AdkUTJpTMsDbKRpWsM1qX_Tu1VM89pmwiMR2hFIQdPQ9R6XHLe1FEtnPEA00_NmfGuAJh0Yig57LJIvtWNMLsNOT&_nc_zt=23&_nc_ht=scontent.ftru2-2.fna&_nc_gid=oHiZCnpB4-XN95qMsq1iaw&oh=00_AfaRg_wwv64IbnDJAujx2PiodGf039wBPkvfOjMXiuOY8g&oe=68CE48AD" 
       class="img-fluid w-100" 
       style="height: 400px; object-fit: cover;" 
       alt="banner">
</div>

<div class="container my-4">
  <div class="row align-items-center">
    <!-- Imagen con animación -->
    <div class="col-md-6 text-center">
      <img src="assets/logo.png" class="img-fluid logo-animado" alt="historia">
    </div>

    <!-- Texto al costado -->
    <div class="col-md-6">
      <h2>Nuestra Historia</h2>
      <p>
        Somos una empresa dedicada a ofrecer el mejor servicio y productos de calidad. 
        Nuestra misión es brindar confianza y compromiso a cada uno de nuestros clientes.
      </p>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <!-- Tarjeta 1 -->
    <div class="col-md-6 position-relative">
      <img src="https://i.pinimg.com/1200x/6f/89/6b/6f896b8744ee80fac94e6f8a02b52404.jpg" 
           class="img-opacity rounded w-100 same-height" 
           alt="...">
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <img src="assets/vision.png" 
             alt="icono" 
             style="width: 90px; margin-bottom: 18px;">
        <h3 class="fw-bolder">Visión</h3>
        <p>Descripción breve</p>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-md-6 position-relative">
      <img src="https://i.pinimg.com/736x/a9/78/ad/a978ad05fa473d3e769cd7966ddbabda.jpg" 
           class="img-opacity rounded w-100 same-height" 
           alt="...">
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <img src="assets/mision.png"
             alt="icono" 
             style="width: 90px; margin-bottom: 18px;">
        <h3 class="fw-bolder">Misión</h3>
        <p>Descripción breve</p>
      </div>
    </div>
  </div>
</div>


<section class="valores">
       <div class="textanimado">
  <h1 class="food"> Nuestros valores</h1>
       </div>
  
  <ul class="banner-cards">
    <li style="--accent-color:#0B374D">
      <div class="icon"><i class="fa-solid fa-scale-balanced"></i></div>
      <div class="title">Codepen</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
    </li>
    <li style="--accent-color:#1286A8">
      <div class="icon"><i class="fa-solid fa-lightbulb"></i></div>
      <div class="title">HTML 5</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </li>
    <li style="--accent-color:#D2B53B">
      <div class="icon"><i class="fa-solid fa-people-group"></i></div>
      <div class="title">CSS 3</div>
      <div class="descr">Lorem ipsum dolor sit.</div>
    </li>
    <li style="--accent-color:#DA611E">
      <div class="icon"><i class="fa-solid fa-shield-heart"></i></div>
      <div class="title">Javascript</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam odio alias.</div>
    </li>
    <li style="--accent-color:#AC2A1A">
      <div class="icon"><i class="fa-solid fa-handshake"></i></div>
      <div class="title">Github</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </li>
  </ul>
</section>

  






  







 

  





<app-footer></app-footer>