/* Navbar más elegante */
.navbar {
  font-size: 1.05rem;
}

.navbar-brand {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.nav-link {
  transition: 0.3s;
  margin: 0 5px;
  border-radius: 5px;
  padding: 6px 12px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffe600 !important;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #ffe600;
}

.logo {
  height: 50px;       /* Controla la altura del logo */
  width: auto;        /* Mantiene la proporción */
  margin-left: 10px;  /* Separación del texto si lo necesitas */
}
.navbar-transparent {
  background: transparent !important; /* lo hace transparente */
  position: absolute; /* lo coloca sobre la imagen */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* asegura que quede encima del contenido */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


